{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
            <label for="parentId" class="col-sm-1 control-label">上级菜单</label>
            <div class="col-sm-10">
                <select class="form-control"name="parent_id">
                    <option value="0">请选择</option>
                    {% for menu in firstMenuList %}
                        <option value="{{ menu.id }}">{{ menu.name }}</option>
                        {% for smenu in secondMenuList %}
                            {% if menu.id == smenu.parentId %}
                                <option value="{{ smenu.id }}">&nbsp;&nbsp;{{ smenu.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                {#<input type="text" name="parentId" class="form-control" id="parentId" placeholder="上级菜单">#}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">名称</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name" placeholder="名称">
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-sm-1 control-label">路由名</label>
            <div class="col-sm-10">
                <input type="text" name="url" class="form-control" id="url" placeholder="路由名">
            </div>
        </div>
        <div class="form-group">
            <label for="perms" class="col-sm-1 control-label">权限标识</label>
            <div class="col-sm-10">
                <input type="text" name="perms" class="form-control" id="perms" placeholder="权限标识">
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-1 control-label">类型</label>
            <div class="col-sm-10">
                {#<input type="text" name="type" class="form-control" id="type" placeholder="类型">#}
                <select class="form-control"name="type">
                    <option value="0">目录</option>
                    <option value="1">菜单</option>
                    <option value="2">按钮</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="icon" class="col-sm-1 control-label">icon</label>
            <div class="col-sm-10">
                <input type="text" name="icon" class="form-control" id="icon" placeholder="icon">
            </div>
        </div>
        <div class="form-group">
            <label for="order_num" class="col-sm-1 control-label">排序</label>
            <div class="col-sm-10">
                <input type="number" name="order_num" class="form-control" id="order_num" placeholder="排序">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="submit"></label>
            <div  class="col-sm-10">
                <button type="submit" class="btn btn-default" id="submit">提交</button>
                <a href="javascript:history.back(-1)" class="btn btn-default">返回</a>
            </div>
        </div>
    </form>
{% endblock %}